*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: var(--main-color) ;
}
:root{
    --main-color: #DEB887;

}

.flex-container h1 a{
 font-size: 6rem;
 padding: 0px;
 color: black;
 
}
.flex-container h1 a:hover{
    color: white;
    transform: scale(1.1);
    transition: .2s ease-in;
}

.flex-container{
    margin: 0px;

}
.name{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
}
.fab img{
    width: 50px;
    
}
.fab{
   font-size: 3rem;
   color: black;
}
.fab:hover{
    color: white;
    transition: .15s ease-in;
}

.icons{
    position: relative;
    top: 0rem;
    right: 0rem;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
.icons i{
   font-size: 4rem;
}
.name{
    position: relative;
    text-align: center;
    margin: 30% 0px;
}

@media only screen and (min-width:800px){
    .flex-container h1 a{
        font-size: 7rem;
        padding: 0px;
        color: black;
    }
    .icons{
        position: relative;
        top: 0rem;
        right: 0rem;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 100px;
    }
    .icons i{
       font-size: 4rem;
    }
    .name{
        position: relative;
        text-align: center;
        margin: 10% 0px;
    }

}
@media only screen and (min-width:1200px){
    .flex-container h1 a{
        font-size: 12rem;
        padding: 0px;
        color: black;
        
    }
    .flex-container h1 span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: rgb(255, 255, 255);
        animation: text_reveal_box 1s ease;
        animation-delay: .3s;
        z-index: 999;
    }
   
    .name{
        position: absolute;
       margin: 0px;
        font-size: 2rem;
    }
    .icons{
        position: absolute;
        margin: 0;
        display: inline-block;
        top: 5rem;
        right: 2rem;
        left: auto;
        
        
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
 }
